<div class="ui menu">
    <a class="active item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <a class="item">
      <i class="mail icon"></i> More stuff
    </a>
    <a class="item">
      <i class="mail icon"></i> More stuff
    </a>
    <a class="item">
      <i class="mail icon"></i> More stuff
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="ui dropdown item">
        Username <i class="dropdown icon"></i>
        <div class="menu ui transition hidden">
          <a class="item"><i class="edit icon"></i> Edit Profile</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
    </div>
</div>